<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Facts about the number {{number}}!</title>
  </head>
  <body>
    <p>Hello, </p>
    <p>Here are some facts about the number {{number}}!</p>
    
    <ul>
        {{#each facts}}
            <li>{{this}}</li>
        {{/each}}
    </ul>
    <p>Click <a href= "https://user.tjhsst.edu/2020obhalera/{{number}}/json?num_facts={{num_facts}}">here</a> to see a JSON view of these facts!</p>
  </body>
</html>